<%= turbo_frame_tag "targets_modal" do %>
  <div class="modal fade" data-controller="targets-modal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title"><%= t('views.index.target_input', year: @target.year, month: @target.month) %></div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
<% end %>
