<div class="container-fluid">
  <% if resource.errors.any? %>
    <div id="error_explanation">
      <h2 class="fs-5 text-center text-danger">
        <%= I18n.t("errors.messages.not_saved",
                   count: resource.errors.count,
                   resource: resource.class.model_name.human.downcase)
         %>
      </h2>
      <ul style="list-style: none;">
        <% resource.errors.full_messages.each do |message| %>
          <li class="fs-6 text-danger text-center"><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>
</div>
