<div class="dropdown">
  <button type="button" class="col-3 btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    <%= t 'devise.shared.links.when_you_cant_log_in' %>
  </button>
  <ul class="dropdown-menu col-6 float-end">
    <li>
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to t('devise.shared.links.forgot_your_password'), new_password_path(resource_name), class: "dropdown-item" %>
      <% end %>
    </li>
    <li>
      <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
        <%= link_to t('devise.shared.links.didn_t_receive_confirmation_instructions'), new_confirmation_path(resource_name), class: "dropdown-item" %>
      <% end %>
    </li>
    <li>
      <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
        <%= link_to t('devise.shared.links.didn_t_receive_unlock_instructions'), new_unlock_path(resource_name), class: "dropdown-item" %>
      <% end %>
    </li>
  </ul>
</div>
