<div>
  <h2>弓道練習記録帳とは</h2>
  <p>
    弓道練習記録帳は、弓道の練習記録をつけるのをついつい忘れてしまう人のための記録管理・集計アプリです。
    スマートフォンやPCで手軽に練習記録の入力をしたり、過去の練習メモや月間の練習量の確認ができます。
    紙のノートでの練習記録とは違って、スマートフォンでどこでも練習記録が残せ、いつでも振り返る事ができるのが特徴です。
    また、このアプリは的中率は記録せず、今月どれだけ練習したかの「実績」と、月初めに立てた「目標」だけを表示します。
    的中率にこだわらず練習量だけに注目する事で、的中率が低い時の練習へのモチベーション低下を防いだり、
    的前に立つ前段階の人の基礎練習へのモチベーションを上げる効果が期待できます。
    メールアドレス登録のみで無料で利用できます。
  </p>
</div>
