<%= turbo_frame_tag "practices_modal" do %>
  <div class="modal fade" data-controller="practices-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
<% end %>
