<div class="container-fluid col-8">
  <h1 class="fs-2 text-center my-3"><%= t 'views.edit.title' %></h1>

  <%= render "form", practice: @practice %>

  <div class="text-center mb-3">
    <%= link_to t('views.common.destroy'), @practice, data: { turbo_method: :delete, turbo_confirm: t('views.edit.are_you_sure'), turbo_frame: "_top" }, class: "btn btn-outline-danger col-3 text-wrap" %>
  </div>

  <div class="text-center mb-3">
    <%= link_to t('views.common.back'), root_path(start_date: [@practice.date.year, @practice.date.mon, @practice.date.day].join('-')), data: { turbo_frame: "_top" }, class: "btn btn-outline-primary col-3 text-wrap" %>
  </div>
</div>
