<div class="container-fluid">
  <h1 class="text-center fs-4 my-3"><%= t 'views.edit.title' %></h1>

  <div class="delete_link text-end">
    <%= link_to t('views.common.destroy'), @practice, data: { turbo_method: :delete, turbo_confirm: t('views.edit.are_you_sure'), turbo_frame: "_top" }, class: "text-secondary" %>
  </div>

  <%= render "form", practice: @practice %>

  <div class="back_link text-end mt-4">
    <%= link_to t('views.common.back'), root_path(start_date: [@practice.date.year, @practice.date.mon, @practice.date.day].join('-')), data: { turbo_frame: "_top" }, class: "text-secondary" %>
  </div>
</div>
