<div class="container-fluid">
  <h1 class="text-center fs-4 mb-4"><%= t 'views.new.title' %></h1>

  <%= render "form", practice: @practice %>

  <div class="text-center mb-3">
    <%= link_to t('views.common.back'), root_path, data: { turbo_frame: "_top" }, class: "btn btn-outline-primary text-wrap" %>
  </div>
</div>
