.simple-calendar {
  th:first-child {
    background: #fff0f0;
    color: #ff8d99;
  }

  th:nth-of-type(n+2):nth-of-type(-n+6) {
    background: #f5f5f5;
  }

  th:nth-child(7) {
    background: #e2f3ff;
    color: #78a2e6;
  }

  table {
    table-layout: fixed;
  }

  .day {
    height: 65px;
  }

  .wday-0 {
    background: #fff0f0;
    color: #ff8d99;
  }

  .wday-6 {
    background: #e2f3ff;
    color: #78a2e6;
  }

  .has-events {
    background: #d0f0d1;
  }

  .prev-month {
    background: #f5f5f5;
  }
  .next-month {
    background: #f5f5f5;
  }
}
