.welcome-header {
  position: relative;
  padding: 0.25em 0;
}

.welcome-header:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -13px;
  display: inline-block;
  width: 120px;
  height: 3px;
  transform: translateX(-50%);
  background-color: #B3CCA5;
}

.welcome-content-list {
  font-size: 13px;
  text-indent: -1em;
}
